@import "tailwindcss";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  /* colors */
  --color-blue-900: #13183f;
  --color-blue-600: #666ca3;
  --color-pink-600: #f74780;
  --color-pink-300: #ffa7c3;
  --color-grey: #83869a;

  --color-orange: #ff6f48;
  --color-pink: #f02aa6;

  /* font-family */
  --font-plus-jacarta-sans: "Plus Jakarta Sans", "sans-serif";
}

/* .text-preset-1 {
  font-family: "Plus Jakarta Sans", "sans-serif";
  font-weight: 800; //extrabold
  font-size: 3.5rem; //56px
  line-height: 1.2;
}

.text-preset-2 {
  font-family: "Plus Jakarta Sans", "sans-serif";
  font-weight: 800; //extrabold
  font-size: 2.5rem; //40px
  line-height: 1.2;
}

.text-preset-3 {
  font-family: "Plus Jakarta Sans", "sans-serif";
  font-weight: 800; //extrabold
  font-size: 2rem; //32px
  line-height: 1.2;
}

.text-preset-4 {
  font-family: "Plus Jakarta Sans", "sans-serif";
  font-weight: 800; //extra bold
  font-size: 1.5rem; //32px
  line-height: 1.2;
}

.text-preset-5 {
  font-family: "Plus Jakarta Sans", "sans-serif";
  font-weight: 500; //medium
  font-size: 1.125rem; //18px
  line-height: 1.5;
}

.text-preset-6 {
  font-family: "Plus Jakarta Sans", "sans-serif";
  font-weight: 700; //bold
  font-size: 1rem; //16px
  line-height: 1.5;
}

.text-preset-7 {
  font-family: "Plus Jakarta Sans", "sans-serif";

  font-weight: 700; //bold
  font-size: 1.125rem; //18px
  line-height: 1.5;
} */
